api.cnvrt.local {
	tls internal
	reverse_proxy localhost:{$APP_PORT}
	handle /api/v1/ws {
		reverse_proxy {
			to localhost:{$APP_PORT}/api/v1/ws
			header_up Upgrade websocket
			header_up Connection Upgrade
		}
	}
}

cnvrt.local {
	tls internal
	reverse_proxy localhost:{$CLIENT_PORT}
}
